<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
Lista de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div id="container">

    <ion-list>
      <ion-card *ngFor="let alimento of alimentos" color="warning">
      <img [src]="imagem">
      <ion-card-header>
        <ion-card-title>{{alimento.produto}}</ion-card-title>
        <ion-card-subtitle>{{alimento.quantidade}}</ion-card-subtitle><br>
      </ion-card-header>
    </ion-card>
    </ion-list>
  </div>
</ion-content>
